[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
ipython = "*"
black = "*"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
flake8 = "*"
django-oauth-toolkit = "*"
coverage = "*"
black = "*"
coveralls = "*"

[requires]
python_version = "3.7"
